<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="UI.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <!-- link href="css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" --> 
    <!-- script type="text/javascript" src="js/jquery.min.js"></!-->
    <!-- script type="text/javascript" src="js/jquery.jplayer.min.js"></!-->
    <!-- script type="text/javascript" src="js/jplayer.playlist.min.js"></!-->
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
