@rendermode InteractiveServer

@using Recordings.Shared.DTOs

@inject IJSRuntime JS
@inject ILogger<AudioPlayer> Logger

<div class="card">
    <audio id="audioPlayer" controls>
        <source src="@AudioSource" type="audio/mpeg" />
        Your browser does not support the audio element
    </audio>
</div>

<script>
    function playAudio() {
        const audioPlayer = document.getElementById('audioPlayer');
        if (audioPlayer) {
            audioPlayer.load();
            audioPlayer.play();
        }
    }
    function stopAudio() {
        const audioPlayer = document.getElementById('audioPlayer');
        if (audioPlayer) {
            audioPlayer.pause();
            audioPlayer.currentTime = 0;
        }
    }
</script>

@code {

    [Parameter]
    public RecordingDto? Track { get; set; }

    private string? AudioSource { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Track == null)
        {
             AudioSource = null;
        }
        else
        {
            AudioSource = Track.Url;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (AudioSource == null)
        {
            await JS.InvokeVoidAsync("stopAudio");
        }
        else{
            await JS.InvokeVoidAsync("playAudio");
        }   
    }
}