@rendermode InteractiveServer

@using Recordings.Shared.DTOs
@using Recordings.UI.Models

@implements IDisposable

@inject Recordings.UI.Services.ApiService ApiService
@inject RecordingsState RecordingsState
@inject ILogger<Playlist> Logger

<div class="card">
    <ul class="track-list">
        @foreach (var track in Tracks)
        {
            <li class="xlist-group-item @GetItemClass(track.OrdinalNumber)" @onclick="() => OnSelectTrack(track)">
                @track.OrdinalNumber. @track.Title @FormatDuration(track.Duration)
            </li>
        }
    </ul>
</div>

@code {

    private int SelectedIndex { get; set; } = -1;

    private List<RecordingDto> Tracks { get; set; } = new List<RecordingDto>();

    protected override void OnInitialized()
    {
        RecordingsState.OnTrackFilterChanged += HandleTrackFilterChanged;
    }

    public void Dispose()
    {
        RecordingsState.OnTrackFilterChanged -= HandleTrackFilterChanged;
    }

    private async void HandleTrackFilterChanged(object? sender, EventArgs e)
    {
        if (RecordingsState.Filter.Type == TrackFilterType.Date && !String.IsNullOrEmpty(RecordingsState.Filter.Value))
        {
            Tracks = await ApiService.GetRecordingsByDate(RecordingsState.Filter.Value);
            SelectedIndex = -1;
            StateHasChanged();
        }
        else if (RecordingsState.Filter.Type == TrackFilterType.Title && !String.IsNullOrEmpty(RecordingsState.Filter.Value))
        {
            Tracks = await ApiService.GetRecordingsByTitle(RecordingsState.Filter.Value);
            SelectedIndex = -1;
            StateHasChanged();
        }
    }

    private void OnSelectTrack(RecordingDto track)
    {
        SelectedIndex = track.OrdinalNumber;
        RecordingsState.SelectedTrack = track;
    }

    private string GetItemClass(int index)
    {
        return index == SelectedIndex ? "selected" : String.Empty;
    }

    private string FormatDuration(int durationInseconds)
    {
        var min = durationInseconds / 60;
        var sec = durationInseconds % 60;
        return $"{min}:{sec:D2}";
    }
}
